.scale {
  display: flex;
}
.scale-icon {
  background-color: #4dabf5;
  padding: 8px 15px;
}

.scale-icon-1 {
  background-color: white;
}

.scale-icon-2 {
  background-color: #4dabf5;
  padding: 8px 15px;
  border-left: 0;
}

.scale-heading {
  padding: 8px 15px;
}