.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}

.search-btn {
  background-color: #4dabf5;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 0 4px 4px 0;
}
.search-btn-icon {
  width: 20px;
}


.content-columns {
  margin: 3% 5% 2% 5%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}

.main-icon {
  width: 20%;
}

.detailed-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.parameter-item{
  text-align: left;
}
.parameter-heading{
  display: flex;
  align-items: center;
}
.parameter-icon{
  width: 10%;
  padding-right: 10px;
}

.forecast-container {
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


