.search-input{
   
}
.search-btn {
  background-color: #2196f3;
}
.search-btn-icon {
  width: 20px;
}

.forecast-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-item{
  padding: 2%;
}