.parameter-item-value {
  font-size: 1.6rem;
  margin: 0;
}

.parameter-item {
  display: flex;
  text-align: left;
  flex-direction: column;
  /* justify-content: center;
  align-items: start; */
}
.parameter-heading {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.parameter-item-name{
    font-size: 1.2rem;
}
.parameter-icon {
  width: 10%;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
.parameter-item {
    padding: 1rem;
    
}
.parameter-icon {
  width: 15%;
}

}
